@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary: 0 0% 53.3%;
    --secondary-foreground: 0 0% 98%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-text), monospace;
}
